<div>
  <div>
    <form name="editFormSXHN" role="form" novalidate [formGroup]="editForm">
      <h2 id="jhi-san-xuat-hang-ngay-heading" data-cy="SanXuatHangNgayCreateUpdateHeading">Sản xuất hàng ngày</h2>

      <header class="header-sxhn">
        <div class="header-sanxuat">
        <jhi-alert-error></jhi-alert-error>

          <div>
            <label for="maKichBan">
              <h5>Mã kịch bản</h5>
            </label>
            <input class="form-control" type="text" name="maKichBan" id="maKichBan" formControlName="maKichBan" [(ngModel)]="maKichBan" (keydown.tab)="getChiTietKichBan(maKichBan)">
          </div>
          <div>
          <label for="loaiThietBi">
            <h5>Loại thiết bị</h5>
          </label>
          <input class="form-control" type="text" name="loaiThietBi" id="loaiThietBi" formControlName="loaiThietBi" [(ngModel)]="loaiThietBi">
        </div>

        <div>
            <label for="maThietBi">
              <h5>Mã thiết bị</h5>
            </label>
            <input class="form-control" type="text" name="maThietBi" id="maThietBi" formControlName="maThietBi" [(ngModel)]="maThietBi">
          </div>
        </div>

        <div class="header-sanxuat2">
          <div>
          <label for="dayChuyen">
            <h5>Dây chuyền</h5>
          </label>
           <input class="form-control" type="text" name="dayChuyen" id="dayChuyen" formControlName="dayChuyen" >
        </div>  

        <div>
          <label for="maSanPham">
            <h5>Mã sản phẩm</h5>
          </label>
          <input class="form-control" type="text" name="maSanPham" id="maSanPham" formControlName="maSanPham" [(ngModel)]="maSanPham">
        </div>  
        
        <div>
          <label for="versionSanPham">
            <h5>Version sản phẩm</h5>
          </label>
         <input class="form-control" type="text" name="versionSanPham" id="versionSanPham" formControlName="versionSanPham" [(ngModel)]="versionSanPham">
        </div>
      </div>
      </header>
        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          (click)="save()"
          class="btn btn-primary"
          style="margin-bottom: 2em"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      <div>

         <h2 id="jhi-kich-ban-heading" data-cy="KichBanCreateUpdateHeading" style="padding-top: 2em;">Thông số sản xuất hàng ngày</h2>
        <button class="btn-add" style="border-radius: 0.5em;" (click)="addRowThongSoKichBan()">Add</button>

        <table class="table table-striped">
           <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending">
              <th scope="col" jhiSortBy="maKichBan"><span>STT</span></th>
              <th scope="col" jhiSortBy="maKichBan"><span>Thông số</span></th>
              <th scope="col" jhiSortBy="thongSo"><span>Min</span></th>
              <th scope="col" jhiSortBy="trangThai"><span>Max</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Trung bình</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Đơn vị</span></th>
              <th scope="col" jhiSortBy="phanLoai"><span>Phân loại</span></th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let data  of listOfChiTietKichBan;let i = index; trackBy: trackId"  data-cy="entityTable">
              <td>
                {{i+1}}
              </td>
              <td>
                <div>{{data.thongSo}}</div>
              </td>
              <td>{{ data.minValue }}
                <input 
                type="text"  
                [(ngModel)]="data.minValue"  
                [ngModelOptions]="{standalone: true}" 
                placeholder="{{data.minValue}}"
                  />
              </td>
              <td>{{ data.maxValue }}
                <input type="text" 
                 [(ngModel)]="data.maxValue" 
                 placeholder="{{data.maxValue}}"  
                 [ngModelOptions]=" {standalone: true}"
                />
              </td>
              <td>{{ data.trungBinh }}
                 <input type="text"
                 [(ngModel)]="data.trungBinh" 
                 placeholder="{{data.trungBinh}}" 
                 [ngModelOptions]="{standalone: true}"
                />
              </td>
              <td >
                <select class="form-control-table" id="donVi" data-cy="donVi" name="donVi" formControlName="donVi" [(ngModel)]="selectedValues" (change)="onChangeValues()">
                  <option value="active">cm</option>
                  <option value="deactive">mm</option>
                </select>
              </td>
              <td>
                <select class="form-control-table" id="maKichBan" data-cy="maKichBan" name="maKichBan" formControlName="maKichBan" [(ngModel)]="selectedParameter" (change)="onChangeParameter()">
                  <option value="active">Thông số máy</option>
                  <option value="deactive">Thông số thiết bị</option>
                </select>
              </td>
               <input type="text"  
                [(ngModel)]="data.phanLoai" 
                placeholder="{{data.phanLoai}}" 
                [ngModelOptions]=" {standalone: true}"
                />
            </tr>
          </tbody>
        </table>
         <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          (click)="saveChiTietSanXuat()"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
      </div>
    </form>
  </div>
</div>
